@model HealthITUnivApp.University

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>University</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityAbbreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityAbbreviation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityPhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityPhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityHead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UniversityID }) |
    @Html.ActionLink("Back to List", "../Home/Admin")
</p>
