@model HealthITUnivApp.Program

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Program</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProgramName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProgramName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProgramType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProgramType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProgramAbbrevation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProgramAbbrevation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProgramURL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProgramURL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DepartmentName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProgramLeadDepartment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProgramLeadDepartment)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProgramHead)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProgramHead)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Accredited)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Accredited)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Accredited_Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Accredited_Type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Accredited_StartDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Accredited_StartDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Accredited_EndDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Accredited_EndDate)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProgramID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
