@model HealthITUnivApp.College

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>College</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CollegeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CollegeName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CollegeAbbrevation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CollegeAbbrevation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CollegeURL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CollegeURL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CollegeStreet)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CollegeStreet)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CollegeCity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CollegeCity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CollegeState)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CollegeState)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CollegeCountry)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CollegeCountry)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CollegeZipCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CollegeZipCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CollegePhoneNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CollegePhoneNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CollegeHead)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CollegeHead)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UniversityName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UniversityName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CollegeID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
