@model IEnumerable<HealthITUnivApp.College>

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CollegeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeAbbrevation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegePhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniversityName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeAbbrevation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegePhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CollegeID }) |
                @Html.ActionLink("Details", "Details", new { id=item.CollegeID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CollegeID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
