@model IEnumerable<HealthITUnivApp.EducationSystem>

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SystemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemAbbreviation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemPhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemHeadPerson)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SystemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemAbbreviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemPhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemHeadPerson)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SystemId }) |
                @Html.ActionLink("Details", "Details", new { id=item.SystemId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.SystemId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
