@model IEnumerable<HealthITUnivApp.EducationSystem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>University System</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SystemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemAbbreviation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemPhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemHeadPerson)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SystemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemAbbreviation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemPhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemHeadPerson)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SystemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SystemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SystemID })
        </td>
    </tr>
}

</table>
